:root {
  --text: #202020;
  --text-h: #001776;
  --bg: #f7f8fc;
  --bg-soft: #d6dbee;
  --border: rgba(0, 23, 118, 0.14);
  --code-bg: #d6dbee;
  --accent: #001776;
  --accent-bg: rgba(0, 23, 118, 0.08);
  --accent-border: rgba(0, 23, 118, 0.22);
  --social-bg: rgba(214, 219, 238, 0.5);
  --shadow:
    rgba(0, 23, 118, 0.10) 0 10px 15px -3px,
    rgba(0, 23, 118, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

:root {
  --text: #202020;
  --text-h: #001776;
  --bg: #f7f8fc;
  --bg-soft: #d6dbee;
  --border: rgba(0, 23, 118, 0.14);
  --accent-bg: rgba(0, 23, 118, 0.08);
  --shadow:
    rgba(0, 23, 118, 0.10) 0 10px 15px -3px,
    rgba(0, 23, 118, 0.05) 0 4px 6px -2px;
}
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}

p {
  margin: 0;
  color: var(--text);
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}